.wrap {
	position: relative;
}

.gallery {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.gallery-list {
	position: relative;
	display: flex;
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0;
	white-space: nowrap;
	line-height: 1;
	z-index: 10;
}

.gallery-item {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.gallery-toggles {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding: 0;
	gap: 0.3rem;
}

.gallery-toggle {
	width: 10px;
	height: 10px;
	cursor: pointer;
	border: 1px solid #e2e2e2;
	border-radius: 50%;
}

.gallery-toggle--active {
	background-color: #2390bb;
}

.gallery-controls {
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: -10%;
	right: -10%;
	top: 0;
	bottom: 0;
}

.gallery-controls__next-button {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 13px;
	border-color: transparent transparent transparent #fff;
	background: none;
	cursor: pointer;
}

.gallery-controls__previous-button {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7.5px 13px 7.5px 0;
	border-color: transparent #fff transparent transparent;
	background: none;
	cursor: pointer;
}
