@import "../settings/colors";

.list__floating-panel {
  display: none;
  background-color: @block;
  position: fixed;
  top: 500px;
  left: 500px;
  width: 200px;
  height: 200px;
  z-index: 5;
  color: @background_main;
  font-size: 12px;
  line-height: 22px;
  border: 5px solid @decorator;
  text-align: center;
  cursor: -webkit-grab;
  cursor: grab;
}

.floating-panel__caption {
  font-weight: bold;
  padding: 10px;
  background-color: @selected;
  font-size: 17px;
}

.list__floating-panel--sticky {
  position: -webkit-sticky;
  position: sticky;
}
