.toast {
	position: fixed;
	bottom: -200px;
	left: 50%;
	width: 50%;
	transform: translateX(-50%);
	min-width: 300px;
	background-color: #8a2be2;
	opacity: 0.95;
	padding: 8px;
	border-radius: 25px;
	height: 200px;
	color: #e6e6e6;
	z-index: 9999;
	font-family: "Lucida Console", Geneva, Verdana, "sans-serif";
	box-sizing: border-box;
	padding-top: 16px;
	animation: slide-up 0.8s ease-out forwards;
	transition: all 0.8s ease-in;
}

.toast-content {
	display: flex;
	justify-content: space-between;
}

.toast-buttons {
	display: flex;
	justify-content: space-around;
	width: 200px;
}

.toast-button {
	display: inline-block;
	margin: 0;
	white-space: nowrap;
	text-align: center;
	color: #222;
	background-color: #ccc;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	padding: 7px;
	box-sizing: border-box;
}

.toast.disabled {
	transform: translate(-50%, 50%);
}

@keyframes slide-up {
	from {
		bottom: -200px;
	}

	to {
		bottom: -150px;
	}
}
