@color_1: #e6e6e6;
@background_color_1: #ffffff;
@background_color_2: #333333;

.toInvert {
  background-color: @background_color_1;
  -webkit-filter: invert(0%);
  filter: invert(0%);
  -webkit-transition: background-color 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22), color 0.3s ease-out, -webkit-filter 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: background-color 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22), color 0.3s ease-out, -webkit-filter 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: background-color 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22), filter 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22), color 0.3s ease-out;
  transition: background-color 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22), filter 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22), color 0.3s ease-out, -webkit-filter 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;

  img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transition: -webkit-filter 0.3s ease;
    transition: -webkit-filter 0.3s ease;
    transition: filter 0.3s ease;
    transition: filter 0.3s ease, -webkit-filter 0.3s ease;
    -webkit-transition-delay: 250ms;
    transition-delay: 250ms;
  }
}

.inverted {
  background-color: @background_color_2;
  color: @color_1;
  -webkit-filter: invert(8.56%);
  filter: invert(8.56%);

  hr {
    color: @color_1;
  }

  img {
    -webkit-filter: brightness(125%);
    filter: brightness(125%);
  }
}
