@import "../settings/colors";

// Sticky header in position sticky
.sticky-header--sticked {
  position: -webkit-sticky;
  position: sticky; //In real world app replace with fixed
  top: 0;
  background-color: @main-white;
  z-index: 999;
}

// Sticky header is sticky
.sticky-header--hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
}

// Large text so user can scroll
.scrollable-block__dummy-text {
  margin-top: 74px;
  font-size: 26px;
  line-height: 38px;
  font-family: @action;
}
