.table-filtering {
  border-collapse: separate;
  border-spacing: 0;
  width: 60%;
  border: 1px solid #ddd;
}

.table-filtering th,
.table-filtering td {
  text-align: left;
  padding: 16px;
}

.table-filtering tr:nth-child(even) {
  background-color: #f2f2f2
}

.option--hidden {
  display: none;
}

.select-wrap {
  position: relative;
  display: inline-block;
}

.option {
  width: 130px;
  background-color: #2390bb;
  padding: 4px;
  border: 1px solid #555555;
  margin: 0;
  box-sizing: border-box;
}

.chooser {
  width: 130px;
  padding: 4px;
  background-color: #333333;
  color: #e6e6e6;
  box-sizing: border-box;
  margin: 0;
}

.select-filtering {
  position: absolute;
}
