@import "../settings/colors";

.tabs {
  padding: 20px 20px;
  width: 340px;
  border: 2px solid @decorator;
  -webkit-animation: slide-down 0.4s ease;
  animation: slide-down 0.4s ease;
}

.tabs-btn {
  border: 1px solid @decorator;
  border-radius: 4px;
  max-width: 340px;
}

.tab {
  background: transparent;
  border: 2px solid @decorator;
  margin-left: 30px;
  margin-top: 10px;

  &:hover {
    padding: 5px 10px;
    border: 0;
    background-color: @outline_dark;
    color: @background_main;
  }
}
