@color_1: #e6e6e6;
@background_color_1: #f2f2f2;
@background_color_2: rgb(121, 196, 47);
@background_color_3: rgb(252, 189, 189);
@background_color_4: rgb(247, 29, 29);
@background_color_5: #bfbfbf;
@background_color_6: #4d4c4d;

.password {
  width: 320px;
  box-shadow: #4d4c4d 2px 0 1px 1px;
  padding: 12px;

  >label {
    width: 310px;
    margin-bottom: 12px;

    >input {
      width: 120px;
      float: right;

      &::placeholder {
        color: @color_1;
        font-size: 12px;
      }
    }
  }

  >label.correct {
    background: transparent;
    border: 1px solid rgb(91, 168, 101);
    background-color: @background_color_2;
  }

  >label.wrong {
    background-color: @background_color_3;
    border: 1px solid #72040d;
    background-color: @background_color_4;
  }
}

.password-submit {
  display: block;
  background-color: @background_color_1;
  border: 2px solid #818181;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: @background_color_6;
  }
}

.main {
  background-color: @background_color_5;
}

.toPass {
  margin-left: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    left: -20px;
    top: 3px;
    background-color: @background_color_6;
  }
}

.toPass.wrong {
  &::before {
    background-color: @background_color_4;
  }
}

.toPass.correct {
  &::before {
    background-color: @background_color_2;
  }
}
