.backface-carousel {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    align-items: center;
    perspective: 500px;
    overflow: hidden;
    padding: 20px;
}

.backface-carousel--vertical {
    margin-top: 10%;
    height: 33vw;
    overflow: visible;
}

.backface-carousel * {
    margin: 0 auto;
    flex: 0 0 auto;
}

.backface-carousel-items {
    width: 40%;
    margin: 0;
    transform-style: preserve-3d;
    transition: all 0.5s;
    padding: 0;
    list-style-type: none;
}

.backface-carousel-item {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    opacity: 0.9999;
    backface-visibility: hidden;
}

.backface-carousel-item:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    padding: 0 auto;
}
