.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 20px;
  white-space: nowrap;
  user-select: none;
  font-family: inherit;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  color: #222222;
  background-color: #cccccc;
  background-image: none;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.5s linear;

  &:hover {
    text-decoration: none;
  }

  > svg {
    display: block;
  }

  &--arrow {
    margin-top: 12px;
    padding: 0;
    background: transparent;
    fill: lighten(red, 15%);
    border: #cccccc 2px solid;
    border-radius: 5px;

    &:hover {
      fill: lighten(red, 15%);
    }

    &:active {
      fill: darken(red, 15%);
    }
  }
}

.btn.positive {
  background-color: chartreuse;
  border: lawngreen 3px solid;
}


.btn.negative {
  background-color: firebrick;
  border: orangered 3px solid;
}
