.wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.video {
	width: inherit;
	height: inherit;
}

.controls {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: #e2e2e2;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	height: 12.5%;
	padding: 4px;
	box-sizing: border-box;
}

.controls-buttons {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	gap: 5%;
}

.control-button {
	display: block;
	height: 100%;
	cursor: pointer;
}

.controls-button__clickable-button {
	width: inherit;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.controls-button__image {
	width: inherit;
	height: inherit;
	cursor: pointer;
}

.time-range-input {
	margin-left: 15px;
	color: #000;
}

.volume-range-input {
	max-width: 33px;
	min-width: 33px;
}
